
@model IEnumerable<Project_HTP.Models.StudentList>

@{
    ViewData["Title"] = "Index";
}

<h4>Danh sách sinh viên </h4>
<hr />


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImg)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Thêm Sinh Viên</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverImg)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.StudentListId"><i class="fa fa-marker fa-lg"></i>Sửa </a>
                    <a asp-action="Delete" asp-route-id="@item.StudentListId" class="text-danger ml-1" onclick="return confirm('Bạn có chắc chẵn muốn xóa')"><i class="fa fa-trash-alt fa-lg"></i>Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

